@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor--primaria:#000000;
    --cor--secundaria: #F6F6F6;
    --cor--terciaria: #22D4FD;
    --cor--hoover:#272727;

    --cor--primaria--light:#f6f6f6 ;
    --cor--secundaria--light:#000000;


    --fonte--primaria:'Krona One', sans-serif;
    --fonte--secundaria:'Montserrat', sans-serif;
}

*{
    margin:0;
    padding: 0;
}


body{

    background-color: var(--cor--primaria);
    color:var(--cor--secundaria);
    box-sizing: border-box;
    
    transition: background 1s;

    --cor--primaria:#000000;
    --cor--secundaria: #F6F6F6;
    --cor--terciaria: #22D4FD;
    --cor--hoover:#272727;

}

body.light{
    background-color: var(--cor--light1);
    color:black;
    --cor--primaria:#ffffff;
    --cor--secundaria: #000000;
    --cor--terciaria: #22D4FD;
    --cor--hoover:#c7c7c7;

}



.checkbox{
    opacity: 100%;
    position: absolute;
}

.label{
    background-color: #22D4FD;
    border-radius: 3.125rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 54px;

    transform: scale(1.2);
}

.label .bola{
    background-color:#f6f6f6;
    border-radius: 50%;
    position: absolute;
    top:2px;
    left:2px;

    height: 30px;
    width: 30px;

    transform: translateX(0px);
    transition: transform 0.2s linear;

}

.checkbox:checked + .label .bola{
    transform: translateX(30px) ;


}



.cabecalho{
    padding:2% 0 0 15% ;
    
}

.cabecalho__menu{
    display: flex;
    gap:5rem;
}

.cabecalho__menu__link{
    font-size: 1.5rem;
    font-family: var(--fonte--secundaria);
    font-weight: 600;
    color: var(--cor--terciaria);
    text-decoration: none;

}


.cabecalho__menu__link:hover{
    color:#5a5656;
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor--terciaria);
}

.apresentacao{
    padding: 1.9% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.apresentacao__conteudo{
    width: 38.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: space-between;
    
    
}

.apresentacao__conteudo__titulo{
    font-size: 1.8rem;
    font-family:var(--fonte--primaria);
    ;
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte--secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    justify-content: space-between;
}

.apresentacao__links__redes{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif ;
    font-size: 1.3rem;
    border: 0.15rem solid var(--cor--terciaria);
    border-radius: 0.5rem;
    width: 20rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    padding: 1.1rem 0;
    color: var(--cor--secundaria);
}


.apresentacao__links__redes:hover{
    background-color: var(--cor--hoover);
}

.apresentacao__links__redes.letra{
    color: var(--cor--primaria);
}

.apresentacao__imagem{
    max-width: 100%;
    height: auto;
    width: 35%;
    margin-left: 2.5rem ;
    border-radius: 2%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.apresentacao__links__subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__logo{
    width: 2rem;
}

.apresentacao__imagem:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.rodape{
    background-color: var(--cor--terciaria);
    color:var(--cor--preta);
    padding: 1.25rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 400;
}